/* html{
    background-color: black;
}
body{
    background-color: NONE;
} */

.nome{  
text-align: center;
color: #f716b4;
background-color: black;
}
.h2{
    background-color: pink;
    
}
.navbar-brand {
    color: #f716b4;
}
.cor1{
   background-color: #f716b4;
}

